<select name="type" class="js-filter-form list-checkbox mb-3">
    <option value="all">お題で絞り込む</option>
    <% @sentences.each do |sentence| %>
      <option value="<%= sentence.id %>"><%= sentence.content %></option>
    <% end %>
</select>

<table class="table table-striped mt-1">
  <thead class="thead-primary">
    <tr>
      <th scope="col" width="20%">登録日時</th>
      <th scope="col" width="15%">スコア</th>
      <th scope="col" width="45%" >お題</th>
      <th scope="col" width="20%"></th>
    </tr>
  </thead>
  <tbody class="js-filter-items">
    <% @practice_results.each do |practice_result| %>
      <%= render partial: 'practice_result', locals: {practice_result: practice_result} %>
    <% end %>
  </tbody>
</table>

<p>
  <a class="fs-5" href="/practices">練習一覧ページへ進む</a>
</p>
