<footer id='footer'>
  <div class="text-white">
      <ul class="row justify-content-center pr-5">
        <div class="col-auto p-3">
          <%= link_to '利用規約', '/terms', class: "text-white footer-item"%>
        </div>
        <div class="col-auto p-3">
          <%= link_to 'プライバシーポリシー', '/policy', class: "text-white footer-item" %>
        </div>
        <div class="col-auto p-3">
          <%= link_to 'お問い合わせ', '/contact', class: "text-white footer-item" %>
        </div>
        <div class="col-auto p-3">
          |
        </div>
        <div class="col-auto pt-3">
           ©︎2022 早口言葉選手権
        </div>
      </ul>
  </div>
</footer>