<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= lint_to root_path do %>
        <p>早口言葉選手権</p>
      <% end %>
      <button class="navbar-toggler">
        <%# また後日修正 %>
      </button>
    </div>
  </nav>

</header>