<main>
  <div class="container-fluid text-muted">
    <div class="top-wrapper">
      <div class="text-center">
        <%= image_tag 'hayakuchi-championship-toppage.png', alt: '早口言葉選手権トップページ', class: 'logo-top' %>
        <div class="button-pair">
          <%= link_to "試合する", game_path, class: "top-button btn btn-primary btn-lg mb-5 pt-4"%>
          <%= link_to "練習する", practices_path, class: "top-button btn btn-primary btn-lg mb-5 pt-4"%>
        </div>
      </div>
    </div>
  </div>
</main>