<main>
  <div class="container-fluid text-muted">
    <div class="top-wrapper">
      <div class="text-center">
        <%= image_tag 'hayakuchi-championship-toppage.png', alt: '早口言葉選手権トップページ', class: 'logo-top' %>
        <div class="button-pair"  data-turbolinks="false">
          <%= link_to "試合する", game_path, class: "top-button btn btn-primary btn-lg mb-5 pt-4"%>
          <%= link_to "練習する", practices_path, class: "top-button btn btn-primary btn-lg mb-5 pt-4"%>
        </div>
        <div>
          <% if logged_in? %>
            <%= @user.name %> さんでログインしています
          <% else %>
            <p>あなたは現在ログインしていません：<a href="/login">ログインはこちら</a></p>
          <% end %>
        </div>
        <div class="mt-3 mb-5">
          <p>※このサービスは現在、<span style="color:red">PCまたはAndroid端末のChromeブラウザ</span>でのみプレイ可能です</p>
        </div>
      </div>
    </div>
  </div>
</main>