<h1>Pages#index / Topページ</h1>
<ul>
  <li><a href="/rank">ランキング</a></li>
  <li><a href='/how-to-play'>遊び方</a></li>
  <li>マイページ</li>
  <li><a href="/users/new">新規会員登録</a></li>
</ul>
<ul>
  <li><a href="/game">今すぐ試合をする</a></li>
  <li><a href="/practices">練習する</a></li>
</ul>

<ul>
  <li><a href='/terms'>利用規約</a></li>
  <li><a href='/policy'>プライバシーポリシー</a></li>
  <li><a href='/contact'>お問い合わせ</a></li>
</ul>