<% set_meta_tags title: "試合ページ" %>

<div class="timer" id="timer">0</div>
<div class="game-container">
  <div class="type-display" id="typeDisplay"></div>
  <textarea class="type-input" id="typeInput" autofocus></textarea>
</div>

<%= javascript_pack_tag 'game', 'data-turbolinks-track': 'reload' %>