<% set_meta_tags title: "試合ページ" %>

<div class="container text-muted">
  <div class="top-wrapper">
    <div class="top-inner-text text-center">
      <div>
        <h2 class="text-center mt-3", id="timer"></h2>
      </div>
      <div>
        <h1 class="text-center mt-3", id="sentence"></h1>
      </div>
      <div>
        <p class="mt-3", id="notice">録音ボタンを押して1回繰り返そう！<br>
        <span style= "color: red">※PC・Android端末のChromeブラウザのみの対応です(iOS端末では使えません)</span></p>
      </div>
      <div>
        <h3 class="text-center mt-2", id="scoreOut">Score - Out</h3>
      </div>

      <div class="mt-4 mb-5">
        <button class="btn btn-primary btn-lg" id="rec">録音する</button>
        <a id="stop" type="hidden"></a>
      </div>
      
      <div class="mt-4 mb-5">
        <p id="reading">読み取り結果</p>
      </div>
    </div>
  </div>
</div>

<div class="d-none" id="kotoba"></div>
<div class="d-none" id="seido"></div>

<% @sentences_content.each do |sentence_content| %>
  <input type="hidden" name="sentencesContent" value="<%= sentence_content %>">
<% end %>
<input type="hidden" id="sentencesSize" value="<%= @sentences.length %>">


<%= javascript_pack_tag 'game', 'data-turbolinks-track': 'reload' %>