<div class="card shadow mx-auto my-2 justify-content-center" style="width: 20rem;">
  <div class="card-body" data-turbolinks="false">
    <%= link_to "/practices/#{sentence.id}", class: 'card-text text-muted' do %>
      <p class="fs-4"><%= sentence.content %></p>
    <% end %>
  </div>
</div>