<h1>Practices#index / 練習一覧ページ</h1>
<a href="/">Topページに戻る</a>
<h2>練習一覧</h2>
<% @sentences.each do |sentence| %>
  <p>Test:<%=  sentence.id %></p>
  <span><%= link_to sentence.content, "/practices/#{sentence.id}" %></span>
<% end %>