@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

.content {
  min-height: calc(100vh - 100px);
}

.rt {
  text-align: center;
}

.btn-primary {
  background: #00AB4C !important;
  color: #ffffff !important;
  border-color: #00AB4C !important;
  border-radius:30px !important;
}

.btn-danger {
  color: #ffffff !important;
  background: #c53b54 !important;
  border-color: #c53b54 !important;
  border-radius:30px !important;
}

.btn {
  transition: all .2s !important;
}

.btn:hover{
  opacity: 0.7;
}

.button-pair {
  display: flex;
  width: 100%;
  margin: 0;
}

.button-pair > a {
  width: 44%;
  margin: 0 5%;
}

.ol-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ul-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  ul { margin-left:15px; /* beforeで左に動かした分を相殺 */ }
  ul li { display:block; position:relative; }
  ul li:before { content:'※'; position:absolute; left:-15px; /* インデントさせるため「※」だけを左に */ }
}

.login-membership-pair {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}

.login-membership-pair > a {
  width: 25%;
  margin: 0 3%;
  font-size: 1.2rem;
}


/* header */

.logo_area {
  width: 250px;
}

.logo {
  height: 100%;
  width: 100%;
}

.navbar {
  min-height: 38px;
  background-color: #009944;
  background-image: none;
}

.navbar-nav {
  text-align: right;
  margin: 0 0 0 auto;
}

@media screen and (min-width: 992px) {
  .close-menu {
      display: none !important;
  }
}



/* footer */

footer {
  background-color: #009944;
  background-image: none;
  width: 100%;
  overflow: hidden;
}

.footer-item {
  text-decoration: none !important;
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer-item:hover {
  opacity: 0.7;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* toppage */

.logo-top {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.top-button {
  height: 4em;
}


/* game */

.timer-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-pair > p {
  margin:0 0 0 0.5rem;
  font-size: 1.5rem;
}

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

#batterImage {
  width: 30%;
  max-width: 300px;
  height: auto;
}

.game-button-pair {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}

.game-button-pair > a {
  width: 35%;
  margin: 0 5%;
}

.gamestart-button {
  width: 7em;
  height: 4em;
  font-size: 1.7rem !important;
  border-radius: 100% !important;
}


/* practice */

.card-body > a {
  text-decoration: none;
}

.card-body>a:hover {
  color: #008CFF !important;
}

.practice-button-pair {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}

.practice-button-pair > a {
  width: 35%;
  margin: 0 5%;
}

.practices-data {
  text-align: right;
  font-size: 0.85rem;
}


/* mypage */

.profile > h1 {
  text-align: left;
  display: inline;
  float: left;
}

// tab
.tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}

.tab {
  width: 30%;
  min-height: 30px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  opacity: 0.7;
}
.tab:first-child {
  border-left: none;
}
.tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
// タブがactiveのときのデザイン
.tab-active {
  color: rgb(63, 63, 63);
  background: #f9fabe;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  font-weight: bold;
}

// タブの中身は最初は非表示にしておき、box-showクラスだけ表示に変更
.tabbox {
  display: none;
  padding: 15px;
}
.box-show{
  display: block;
}

// ドロップダウンリスト
tr.hidden {
  display: none;
}

.list-checkbox {
  display: block;
  box-shadow: none;
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 50%;
}

.list-checkbox:hover {
  cursor: pointer;
}


/* table */

.thead-primary {
  background: #00AB4C;
  color: #EFF0F4;
  border-color: #00AB4C;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.btn-info {
  background: #01bd8e !important;
  color: #fff !important;
  border-color: #01bd8e !important;
  border-radius:30px !important;
}


/* pagination */
// https://shanabrian.com/web/jquery/pagination.php

.pagiWrapper {
  margin: 0 auto 0 auto;
  width: 100% !important;
}

.pagination {
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
} 
 
.pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin-right: 1em;
}

.pagination li > a {
  text-decoration: none;
  color: #000;
}

.current {
  background-color: #f9fabe !important;
}

