@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 60px;
}

.content {
  min-height: calc(100vh - 100px);
}

.rt {
  text-align: center;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  background-color: #eff700;
  background-image: none;
  width: 100%;
  overflow: hidden;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* tab */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
.tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身は最初は非表示にしておき、box-showクラスだけ表示に変更
.tabbox {
  display: none;
  padding: 15px;
}
.box-show{
  display: block;
}


/* pagination */

.pagination{
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
  span{
      text-align: center;
      width: 50px;
      :hover{
          background-color:#f3f3f3;
      }
      a{
          display: block;
          width: 100%;
          height: 100%;
          :hover{
              background-color: #f3f3f3;
            }
      }
  }
}

.current{
  color: #008CFF;
}

.gap{
  background-color: white !important;
}