@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 60px;
}

.content {
  min-height: calc(100vh - 100px);
}

.rt {
  text-align: center;
}

.btn-primary {
  background: #00AB4C !important;
  color: #ffffff !important;
  border-color: #00AB4C !important;
  border-radius:30px !important;
}

.button-pair {
  display: flex;
  width: 100%;
  margin: 0;
}

.button-pair > a {
  width: 44%;
  margin: 0 5%;
}


/* header */

.logo_area {
  width: 250px;
}

.logo {
  height: 100%;
  width: 100%;
}

.navbar {
  min-height: 38px;
  background-color: #009944;
  background-image: none;
}

.navbar-nav {
  text-align: right;
  margin: 0 0 0 auto;
}

@media screen and (min-width: 992px) {
  .close-menu {
      display: none !important;
  }
}



/* footer */

footer {
  background-color: #eff700;
  background-image: none;
  width: 100%;
  overflow: hidden;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* toppage */

.logo-top {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.top-button {
  width: 7em;
  height: 4em;
  border-radius:100%;
}


/* tab */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
.tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身は最初は非表示にしておき、box-showクラスだけ表示に変更
.tabbox {
  display: none;
  padding: 15px;
}
.box-show{
  display: block;
}


/* pagination */
// https://shanabrian.com/web/jquery/pagination.php
.pagination{
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
  span{
      text-align: center;
      width: 50px;
      :hover{
          background-color:#f3f3f3;
      }
      a{
          display: block;
          width: 100%;
          height: 100%;
          :hover{
              background-color: #f3f3f3;
            }
      }
  }
} 
    /* 前・次へ移動するボタン */
    .pagination .prev-page {}
    .pagination .next-page {}
        .pagination .prev-page button {}
        .pagination .next-page button {}
 
    /* 前・次へ移動するボタンの無効化時 */
    .pagination .prev-page.disabled {}
    .pagination .next-page.disabled {}
        .pagination .prev-page.disabled button {}
        .pagination .next-page.disabled button {}
 
    /* 最初・最後へ移動するボタン */
    .pagination .first-page {}
    .pagination .end-page {}
        .pagination .first-page button {}
        .pagination .end-page button {}
 
    /* 最初・最後へ移動するボタンの無効化時 */
    .pagination .first-page.disabled {}
    .pagination .end-page.disabled {}
        .pagination .first-page.disabled button {}
        .pagination .end-page.disabled button {}
 
    /* ページ別切り替えボタン */
    .pagination ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
        .pagination li {
          margin-right: 1em;
        }
            .pagination li a {
              text-decoration: none;
              color: #000;
            }
        /* カレント時（現在位置） */
        .pagination li.current {}
            .pagination li.current a {}
        /* 省略記号 */
        .pagination li.ellipsis {}
            .pagination li.ellipsis span {}
 
    /* ページ情報（現在のページ番号と最大数） */
    .pagination .page-info {}



.current{
  color: #008CFF;
}

.gap{
  background-color: white !important;
}

/* pull down */
tr.hidden {
  display: none;
}